<?php get_header(); ?>

<main id="main" class="site-main uk-section uk-section-xsmall" role="main">
	<div class="uk-container">
		
		Загрузка главной страницы...
		
	</div>
</main>

<?php get_footer(); ?>