/*
 *  font-family:'PTSansNarrow',Sans-Serif;
 *  font-family:'PTSansNarrowBold',Sans-Serif;
 *  font-family:'PTSerif',Sans-Serif;
 *  font-family:'PTSerifBold',Sans-Serif;
 */
@font-face {
	font-family: 'PTSerifBold';
	src: url('../fonts/PTSerifBold.eot');
	src: local('☺'), url('../fonts/PTSerifBold.woff') format('woff'), url('../fonts/PTSerifBold.ttf') format('truetype'), url('../fonts/PTSerifBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSerif';
	src: url('../fonts/PTSerif.eot');
	src: local('☺'), url('../fonts/PTSerif.woff') format('woff'), url('../fonts/PTSerif.ttf') format('truetype'), url('../fonts/PTSerif.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSansNarrowBold';
	src: url('../fonts/PTSansNarrowBold.eot');
	src: local('☺'), url('../fonts/PTSansNarrowBold.woff') format('woff'), url('../fonts/PTSansNarrowBold.ttf') format('truetype'), url('../fonts/PTSansNarrowBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSansNarrow';
	src: url('../fonts/PTSansNarrow.eot');
	src: local('☺'), url('../fonts/PTSansNarrow.woff') format('woff'), url('../fonts/PTSansNarrow.ttf') format('truetype'), url('../fonts/PTSansNarrow.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}