address, dl, fieldset, figure, ol, p, pre, ul {
	margin: 0 0 20px 0;
	margin-right: 0px;
	margin-left: 0px;
}

/*------------------------------------------------------------------
  Gutenberg Responsive Container
------------------------------------------------------------------*/

/*
 *  Десктоп
 */
.entry-content {
	
}

/*
 *  Планшет
 */
@media (max-width: 959px) {
	
}

/*
 *  Телефон
 */
@media (max-width: 639px) {
	
}

/*------------------------------------------------------------------
  Gutenberg Resize Container
------------------------------------------------------------------*/

/*
 *  Десктоп
 */
.entry-content .alignfull {
  max-width: 100% !important;
  padding: 0 !important;
}

.entry-content .alignwide {
  max-width: 1200px !important;
}

/*
 *  Планшет
 */
@media (max-width: 959px) {

}

/*
 *  Телефон
 */
@media (max-width: 639px) {

}

/*------------------------------------------------------------------
  Заголовок
------------------------------------------------------------------*/

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	box-sizing: content-box;
  max-width: 900px;
  /* 1 */
  margin-left: auto;
  margin-right: auto;
  /* 2 */
  padding-left: 0px;
  padding-right: 0px;
  /* 3 */
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4 {
	/* 3 */
	font-family:'PTSansNarrowBold',Sans-Serif;
}
.entry-content h5,
.entry-content h6 {
	/* 3 */
	font-family:'PTSansNarrow',Sans-Serif;
}

@media (max-width: 959px) {
	.entry-content h2,
  .entry-content h3,
  .entry-content h4 {
		/* 2 */
	  padding-left: 30px;
    padding-right: 30px;
	}
}

@media (max-width: 639px) {
  .entry-content h2,
	.entry-content h3,
	.entry-content h4 {
	  /* 2 */
	  padding-left: 15px;
    padding-right: 15px;
	}
}

/*------------------------------------------------------------------
  Параграф
------------------------------------------------------------------*/

.entry-content p {
	box-sizing: content-box;
  max-width: 900px;
  /* 1 */
  margin-left: auto;
  margin-right: auto;
  /* 2 */
  padding-left: 40px;
  padding-right: 40px;
  /* 3 */
  font-family:'PTSerif',Sans-Serif;
}

@media (max-width: 959px) {
	.entry-content p {
		/* 2 */
	  padding-left: 30px;
    padding-right: 30px;
	}
}

@media (max-width: 639px) {
  .entry-content p {
	  /* 2 */
	  padding-left: 15px;
    padding-right: 15px;
	}
}

/*------------------------------------------------------------------
  Изображение
------------------------------------------------------------------*/

.entry-content .wp-block-image {
  box-sizing: content-box;
  max-width: 900px;
  /* 1 */
  margin-left: auto;
  margin-right: auto;
  /* 2 */
  padding-left: 40px;
  padding-right: 40px;
}
.entry-content .wp-block-image img {
	max-width: 100%;
}
.entry-content .wp-block-image .aligncenter,
.entry-content .wp-block-image .alignleft,
.entry-content .wp-block-image .alignright,
.entry-content .wp-block-image.is-resized {
  display: table;
}
.entry-content .wp-block-image .aligncenter {
	text-align: center;
}
.entry-content .wp-block-image .alignleft {
	text-align: left;
}
.entry-content .wp-block-image .alignright {
	text-align: right;
}
.entry-content .wp-block-image.is-resized {
	max-width: 100%;
}

.entry-content .wp-block-image figcaption {
  margin-top: .5em;
  margin-bottom: 1em;
  color: #555d66;
  text-align: center;
  font-size: 13px;
}
.entry-content .wp-block-image .aligncenter > figcaption,
.entry-content .wp-block-image .alignleft > figcaption,
.entry-content .wp-block-image .alignright > figcaption,
.entry-content .wp-block-image.is-resized > figcaption {
  display: table-caption;
  caption-side: bottom;
}

@media (max-width: 959px) {
	.entry-content .wp-block-image {
		/* 2 */
	  padding-left: 30px;
    padding-right: 30px;
	}
}

@media (max-width: 639px) {
  .entry-content .wp-block-image {
	  /* 2 */
	  padding-left: 0;
    padding-right: 0;
	}
	.entry-content .wp-block-image .aligncenter,
	.entry-content .wp-block-image .alignleft,
	.entry-content .wp-block-image .alignright,
	.entry-content .wp-block-image.is-resized {
		text-align: center !important;
		width: 100%;
	}
}




































