/*------------------------------------------------------------------
  Global Style
------------------------------------------------------------------*/

html, body {
	background: #e5e8eb;
	height: 100%;
	font-size: 15px;
	line-height: 20px;
}

h1, h2, h3 {
	font-weight: bold;
}

.cssd-content p {
  font-family: "Lora", "Georgia", serif;
  font-smoothing: auto !important;
}

/*------------------------------------------------------------------
  Gutenberg Block Images
------------------------------------------------------------------*/

.wp-block-image {
	text-align: center;
}

figure.wp-block-image.alignwide img {
	width: 80%;
}

figure.wp-block-image.alignfull img {
	width: 100%;
}

/*------------------------------------------------------------------
  Header
------------------------------------------------------------------*/

.site-header {
	background: #ffffff;
}

/*------------------------------------------------------------------
  Widgets
------------------------------------------------------------------*/

h3.widget-title {
	font-size: 18px;
	line-height: 23px;
}

.textwidget {

}